/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-06-01, 21:13:01
    Author     : lukiqs
*/

div.login_box{
    margin-top: 20%;
    width: 30%;
    padding: 3%;
    border: 1px solid #101010;
    /*font-family: Calibri;*/
    font-size: 130%;
    /*-webkit-border-radius: 10px;*/
    /*-moz-border-radius: 10px;*/
    /*border-radius: 10px;*/
    color: #3299CC;
    background-color: #101010;    
}

div.logo{
    /*border-radius: 10px;*/    
    width: 40%;
    padding: 4px;
}

.inp{
    border-radius: 0px;
}