/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 5, 2017, 12:37:49 AM
    Author     : lukiqs
*/

.facebook{
    color: #3B5998;
}

.twitter{
    color: #1da1f2;
}

.googlep{
    color: #DB4437;
}

.pinterest{
    color: #bd081c;
}

.insta{
    color: black;
}

.youtube{
    color: #E62117;
}